@page "/fetchdata2"

<h3>Suma Ejemplo de @Num1 </h3>
alola x aqui vas te dio gueva seguir de noche
@code {
    int Num1;

    public int Num2; 

    protected override async Task OnInitializedAsync()
    {
        Num1 = 5;
        Num2 = 8;
    }

}
